<main class="container">
  <h1>Stupid Coaching</h1>
  <div>
    <p><%= @answer.capitalize %></p>
    <p>- You</p>
  </div>

  <div>
    <p><%= answer %></p>
    <p>- Your coach</p>
  </div>

  <%= link_to "Ask another question", ask_path %>
</main>
